objectives:
  - downloading
  - streaming
  - monitoring

# Base paths
config_base: /home/tramfjord/projects/mediaserver/config
compose_file: /home/tramfjord/projects/mediaserver/docker-compose.yml

services:
- name: wireguard
  partof: vpn
  desc: VPN container
  image: lscr.io/linuxserver/wireguard:latest
  is_vpn_gateway: true
  volumes:
    - ${config_base}/wireguard:/config
    - /lib/modules:/lib/modules:ro

- name: radarr
  partof: downloading
  desc: find movies
  port: 7878
  image: lscr.io/linuxserver/radarr:latest
  uses_vpn: true
  volumes:
    - ${config_base}/radarr:/config
    - /data:/data

- name: sonarr
  partof: downloading
  desc: find new shows
  port: 8989
  image: lscr.io/linuxserver/sonarr:latest
  uses_vpn: true
  volumes:
    - ${config_base}/sonarr:/config
    - /data:/data

- name: prowlarr
  partof: downloading
  desc: indexer manager
  port: 9696
  image: lscr.io/linuxserver/prowlarr:latest
  uses_vpn: true
  volumes:
    - ${config_base}/prowlarr:/config

- name: qbittorrent
  partof: downloading
  unit: qbittorrent-nox@tramfjord
  desc: BT client
  port: 8080

- name: deluge
  partof: downloading
  unit: deluge-web
  desc: BT client
  port: 8112

- name: plex
  partof: streaming
  unit: plexmediaserver
  desc: Media streaming
  port: 32400
  healthz: /web/index.html
